<footer>
    <div class="f-info bottom">
        <div class="f-linksocial">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div class="f-name"> &copy; Travelbase private limited</div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>  
            <a href="/help">Help</a>
        </div>
    </div>
</footer>