<nav class="navbar navbar-expand-md bg-body-white border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-solid fa-mountain-city fa-xl" style="color: #d70d58;"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/listings">Explore</a>
                <a class="nav-link" href="/listings/new">airbnb your home</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currUser) { %>
                    <a class="nav-link active" href="/signup">Sign in</a>
                    <a class="nav-link active" href="/login">log in</a>
                    <% } %>
                        <% if (currUser) { %>
                            <form id="logout-form" action="/logout" method="POST" style="display: inline;">
                                <button class="nav-link btn btn-link active" type="submit"
                                    style="padding: 0; border: none; background: none;">Log out</button>
                            </form>
                            <% } %>
            </div>
        </div>
    </div>
</nav>